doctype 5
mixin table_rec_row(label, data)
	tr
		td
			strong= label
		td= data
mixin table_rec_row_raw(label, data)
	tr
		td
			strong= label
		td!= data
mixin table_rec_row_link(label, data, url)
	tr
		td
			strong= label
		td
			a(href=url)= data
mixin table_rec_row_check(label, data)
	tr
		td
			strong= label
		td
			if data == true
				i.icon-ok
			else
				i.icon-remove
mixin field(data,member,label,type)
	.control-group
		label(for=member).control-label #{label}
		.controls
			input(type=type, name=member, value=data)
mixin textfield(data, member, label)
	.control-group
		label(for=member).control-label #{label}
		.controls
			textarea(name=member)= data
mixin checkbox(data, member, label)
	.control-group
		.controls
			label(for=member).checkbox
				if data == true
					input(name=member, type="checkbox", value="true", data-toggle="checkbox")
				else
					input(name=member, type="checkbox", data-toggle="checkbox")
				| #{label}

html
	head
		title= title
		link(rel='stylesheet', href='/flat-ui/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/flat-ui/bootstrap/css/bootstrap-responsive.css')
		link(rel='stylesheet', href='/flat-ui/css/flat-ui.css')
		script(src='/js/libs/jquery.js')
		script(src='/flat-ui/js/flatui-checkbox.js')
	body
		
		-var menu = {'home': '/admin', 'avisos': '/admin/notices', 'artigos': '/admin/articles', 'usuarios': '/admin/users' };

		block link
			-var selected = 'home';

		.container
			h1 UPAC ADMIN
			.navbar.navbar-inverse
				.navbar-inner
					.container
						ul.nav
							each val, key in menu
								if selected === key
									li.active
										a(href=val, title=key)= key
								else
									li
										a(href=val, title=key)= key
			
			block content