mixin field(member,formname,label,type)
	tr
		td
			label(for=formname) #{label}:
		td
			input(type=type, name=formname, value=member)

extends layout

block content
	form(action='/admin/notice/#{notice.id}',method='POST')
		table.edit
			mixin field(owner.id, 'owner', 'Nome', 'text')
			mixin field(notice.order, 'order', 'Ordem', 'number')
			tr
				td 
					label(for='text') Texto:
				td
					textarea(name='text')= notice.text
			mixin field(notice.url, 'url', 'URL do link', 'text')
			
		input(type='submit',value='Enviar')
	a(href='/admin/notice/#{notice.id}') Cancelar
 