extends layout

block content
	h1= user.username
	ul.info
		li Nome:
			span= user.name
		li Email:
			span= user.email
		li geo:
			span= user.geo
		li Acesso através de:
			span= user.provider
		li Data de nascimento:
			span= user.dateOfBirth
		li Cidade:
			span= user.city
		li Estado:
			span= user.state
		li País:
			span= user.country
		li Gênero:
			span= user.gender
		li Sobre:
			p!= md(user.about)

