extends layout

block content
	h2= user.username
	ul.info
		li
			label Nome:
			span= user.name
		li
			label Email:
			span= user.email
		li 
			label geo:
			span= user.geo
		li 
			label Acesso através de:
			span= user.provider
		li 
			label Data de nascimento:
			span= user.dateOfBirth
		li 
			label Cidade:
			span= user.city
		li 
			label Estado:
			span= user.state
		li 
			label País:
			span= user.country
		li 
			label Gênero:
			span= user.gender
		li 
			label Sobre:
			p!= md(user.about)
	a(href='/admin/user/#{user.id}/edit') editar usuário
	a(href='/admin/users') voltar à lista de usuários
