extends ../layout

block content
	h2= user.username
	table.table
		tr
			td.label ID:
			td= user.id
		tr
			td.label Nome:
			td= user.name
		tr
			td.label Email:
			td= user.email
		tr 
			td.label geo:
			td= user.geo
		tr 
			td.label Acesso através de:
			td= user.provider
		tr 
			td.label Data de nascimento:
			td= user.dateOfBirth
		tr 
			td.label Cidade:
			td= user.city
		tr 
			td.label Estado:
			td= user.state
		tr 
			td.label País:
			td= user.country
		tr 
			td.label Gênero:
			td= user.gender
		tr 
			td.label Sobre:
			td!= md(user.about)
	.btn-group
		a(href='/admin/user/#{user.id}/edit').btn Editar usuário
		a(href='/admin/users').btn Voltar à lista de usuários
