<div class="grid_posts">
	{{#if articles.length}}
		{{#each article in articles}}
			{{#if article.img}}
				<article {{bindAttr id="article._id"}} class="featured">
					{{#linkTo blog.post article  classNameBindings="article.palette"}}
						<div class="figure" {{bindAttr style='article.bgimg'}}/>
						</div>
						<div class="info">
							<span class="title">
								{{article.title}}
							</span>
							<span class="date">
								{{#if article.publicationDate}}
									{{momentago article.publicationDate}}
								{{else}}
									sem data
								{{/if}}
							</span>
							<span class="author">
								<span class="post_avatar">
									<img {{bindAttr src=article.profile.avatar_icon}}/>
								</span>
								<span class="authorname">
									publicado por<br/>
									<strong>{{article.profile.nick}}</strong>
								</span>
							</span>
						</div>
					{{/linkTo}}
				</article>
			{{else}}
				<article {{bindAttr id="article._id"}}>
					{{#linkTo blog.post article classNameBindings="article.palette"}}
						<div class="info">
							<span class="title">
								{{article.title}}
							</span>
							<span class="date">
								{{#if article.publicationDate}}
									{{momentago article.publicationDate}}
								{{else}}
									sem data
								{{/if}}
							</span>
							<span class="excerpt">
								{{article.excerpt}}
							</span>
							<span class="author">
								<span class="post_avatar">
									<img {{bindAttr src=article.profile.avatar_icon}}/>
								</span>
								<span class="authorname">
									publicado por<br/>
									<strong>{{article.profile.nick}}</strong>
								</span>
							</span>
						</div>
					{{/linkTo}}
				</article>
			{{/if}}
		{{/each}}
	{{else}}
		Não há publicações
	{{/if}}
</div>
