<div class="home_wrapper">
	
	<h1><span>Universidade</span> <span>Popular de Arte</span> <span>e Ciência</span></h1>
	
	<div class="destaque">
		<ul>
		{{#each banner in banners}}
			<li>
				<a {{bindAttr href="banner.url" title="banner.text"}}>
					<img {{bindAttr src="banner.img"}}/>
				</a>
			</li>
		{{/each}}
		</ul>
	</div>

	<div class="noticias">
		<ul>
			{{#each notice in notices}}
				<li>
					<p>{{notice.text}}</p>
					<p><a class="leia mais" {{bindAttr href="notice.url"}}>Leia mais</a></p>
				</li>
			{{/each}}
				<li>&nbsp;</li>
		</ul>
	</div>

	<a class="maisnoticias" {{action nextNotice}}>&raquo;</a>

</div>

{{view App.HomeSlidesView}}