<div class="row-fluid">
	
	<div class="span4">
		<h1 class="side_title">entre na rede UPAC</h1>
	</div>

	<div class="span1">
		&nbsp;
	</div>

	<div class="span7">

		<p>&nbsp;</p>

{{#if User.auth.loggedIn}}

	<p><strong class="upper">{{User.auth.username}}</strong>, você está conectado e pronto para participar.</p>
	
	<p><div class="btn-group">
		{{#linkTo "perfil" classNames="btn btn-large"}}Veja o seu perfil{{/linkTo}}
		{{#linkTo "rede" classNames="btn btn-large"}}Veja a rede{{/linkTo}}
		{{#linkTo "blog" classNames="btn btn-large"}}Escreva uma publicação{{/linkTo}}
	</div></p>
	
	<p><small>Deseja {{#linkTo "logout"}}desconectar-se{{/linkTo}}?</small></p>

{{else}}

	<ul class="nav nav-pills">

		{{#linkTo "user.index" tagName="li" href=false}}
			<a {{bindAttr href="view.href"}}>Já tenho uma conta</a>
		{{/linkTo}}

		{{#linkTo "user.cadastrar" tagName="li" href=false}}
			<a {{bindAttr href="view.href"}}>Quero me registrar</a>
		{{/linkTo}}

	</ul>
	
	{{outlet}}

{{/if}}
	</div>
</div>