<div class="pad">
	{{#if User.model.isLoaded}}
	<h2>Editar perfil</h2>
	<form id="editar_perfil">
		<div class="control-group">
			<label class="control-label" for="name">Nome e sobrenome</label>
			<div class="controls">
				<input type="text" id="name" name="name" placeholder="" {{bindAttr value="User.model.name"}} {{action "onFocus"}}>
			</div>
		</div>
		<!--<div class="control-group">
			<label class="control-label" for="email">E-mail</label>
			<div class="controls">
				<input type="text" id="email" name="email" placeholder="" {{bindAttr value="User.model.email"}} {{action "onFocus"}}>
			</div>
		</div>-->
		<div class="control-group">
			<label class="control-label" for="about">Sobre você</label>
			<div class="controls">
				{{view Ember.TextArea valueBinding="User.model.about" rows="5" id="about" name="about"}}  
			</div>
		</div>
			{{#each tags}}
				<input type="hidden" name="tags[]" {{bindAttr value=this}}/>
			{{/each}}
	</form>

	{{view App.TagsView}}


	{{#if App.MapController.isMarking}}
	
		<div class="pad over">
			<p>Navegue pelo mapa e clique no ponto em que você deseja marcar sua localização.</p>
			<p>
				<a {{action finishMarking App.MapController}} class="btn btn-primary">Salvar posição</a>
				<a {{action cancelMarking App.MapController}} class="btn btn-danger">Cancelar</a>
			</p>
		</div>

	{{else}}
		
		<p>
			<a {{action startMarking App.MapController}} class="btn btn-w-icon">
				<span class="fui-location"></span> 
				{{#if User.model.geo.length}}Editar localização{{else}}Marque sua localização{{/if}}
			</a>
		</p>			

	
	<hr/>

	<div class="control-group">
		<div class="controls">
			<p>
				<button type="submit" class="btn btn-primary" {{bindAttr disabled="isPosting"}} {{action submit}}>Salvar perfil</button>
				{{#linkTo 'rede.perfil' User.model classNames="btn"}}Cancelar{{/linkTo}}
			</p>
			{{#if flashMsg}}
			<div class="alert alert-error">
			  {{flashMsg}}
			</div>
			{{/if}}
		</div>
	</div>

	<p><small>Para alterar e-mail ou senha, {{#linkTo 'rede.perfil' User.model}}clique aqui{{/linkTo}}.</small></p>

	{{/if}}

	{{else}}
		{{partial "anonymous"}}
	{{/if}}
</div>