<div class="pad">
	{{#if isLoaded}}

		<div class="rede_perfil_foto">
			{{#if isTheLoggedUser}}
				{{#linkTo 'rede.avatar' classNames="btn rede_perfil_foto_editar"}}Mudar foto <span class="fui-new"></span>{{/linkTo}}
			{{/if}}
			<img {{bindAttr src="avatar_medium"}}/>
		</div>

		<h2>
			{{nick}}
		</h2>

		<p>{{about}}</p>
		
		{{#if tags.length}}
			<p class="tags">
				{{#each tags}}
					<a {{action openTag this}}>{{this.name}}</a>
				{{/each}}
			</p>
		{{/if}}
		
		{{#if isTheLoggedUser}}
			<p>{{#linkTo 'rede.editar' classNames="btn btn-w-icon"}}<span class="fui-new"></span> Editar perfil{{/linkTo}}</p>
		{{/if}}
		
		{{#if articles.length}}
			<hr/>
			<p><strong>Últimas publicações</strong></p>
			<ul class="user_articles">
			{{#each articles}}
				<li><a {{action openArticle this}}>{{this.title}}</a></li>
			{{/each}}
			</ul>
			<p><small><a {{action openTimeline username}}>Ver todas</a></small></p>
		{{/if}}
	{{else}}
		<p class="def_loading">carregando perfil</p>
	{{/if}}
</div>