<div class="pad">
	{{#if isLoaded}}

		<div class="rede_perfil_foto">
			{{#if isTheLoggedUser}}
				{{#linkTo 'rede.avatar' classNames="btn rede_perfil_foto_editar"}}Mudar foto <span class="fui-new"></span>{{/linkTo}}
			{{/if}}
			<img {{bindAttr src="avatar_medium"}}/>
		</div>

		<h2>
			{{nick}}
		</h2>

		<p>{{about}}</p>

		<hr/>
		
		{{#if isTheLoggedUser}}


			<p>{{#linkTo 'rede.editar' classNames="btn btn-w-icon"}}<span class="fui-new"></span> Editar perfil{{/linkTo}}</p>

		{{else}}

			<p>{{#linkTo 'timeline' model classNames="btn-"}}Linha do tempo{{/linkTo}}</p>
			
		{{/if}}

	{{else}}
		<p class="def_loading">carregando perfil</p>
	{{/if}}
</div>