<div class="pad">
	{{#if isLoaded}}
		<h2>
			{{nick}}
		</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, dolores, ullam dignissimos ea soluta asperiores nam impedit repudiandae iste facere unde eos consequatur architecto explicabo quam eligendi totam corporis magni?</p>
		
		{{#if isTheLoggedUser}}
			{{#if App.MapController.isMarking}}
			
			<div class="pad over">
				<p>Navegue pelo mapa e clique no ponto em que você deseja marcar sua localização.</p>
				<p>
					<a {{action finishMarking App.MapController}} class="btn">Salvar posição</a>
					<a {{action cancelMarking App.MapController}} class="btn">Cancelar</a>
				</p>
			</div>

			{{else}}
				
				<p>{{#linkTo 'rede.avatar' classNames="btn"}}Mudar foto{{/linkTo}}</p>
				<p>{{#linkTo 'perfil' model classNames="btn"}}Ver perfil completo{{/linkTo}}</p>
				
				{{#if geo.length}}
					<p><a {{action startMarking App.MapController}} class="btn">Mudar minha localização</a></p>
				{{else}}
					<p><a {{action startMarking App.MapController}} class="btn">Inserir minha localização</a></p>
				{{/if}}

			{{/if}}

		{{else}}

			<p>{{#linkTo 'perfil' model classNames="btn"}}Ver perfil completo{{/linkTo}}</p>
			
		{{/if}}

	{{else}}
		<p>carregando perfil</p>
	{{/if}}
</div>