doctype
//if lt IE 7
  <html lang="pt-br" class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html lang="pt-br" class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html lang="pt-br" class="no-js lt-ie9">
//[if gt IE 8]><!
html.no-js(lang="pt-br" )
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title="UPAC - "+article.title+" - "+(article.owners[0].name||article.owners[0].username)
    meta(name='description', content='Universidade Popular de Arte e Ciência')
    meta(name='author', content='UPAC')
    //-meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic,900,900italic')
    link(rel='stylesheet', href='/flat-ui/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/flat-ui/css/flat-ui.css')
    link(rel='stylesheet', href='/css/app.css')
    script
        window.location='/#/blog/post/#{article._id}';
  body
    .container
        - var d = new Date(article.publicationDate);
        - var curr_date = d.getDate();
        - var curr_month = d.getMonth() + 1; //Months are zero based
        - var curr_year = d.getFullYear();
        h1= article.title
        h4= "Publicado por "+(article.owners[0].name||article.owners[0].username)+" em "+curr_date+"/"+curr_month+"/"+curr_year 
        if article.owners[0].avatar.sizes.length && article.owners[0].avatar.sizes[2] && article.owners[0].avatar.sizes[2].cdn_url
            p
                img(src=article.owners[0].avatar.sizes[2].cdn_url)
        p= article.excerpt
        p!= article.content
