doctype 5
html
	head
		title Editor
		link(rel='stylesheet', href='/flat-ui/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/js/libs/datetimepicker/datetimepicker.css')
		link(rel='stylesheet', href='/flat-ui/css/flat-ui.css')
		link(rel='stylesheet', href='/dropzone/css/dropzone.css')
		link(rel='stylesheet', href='/js/libs/codemirror/lib/codemirror.css')
		link(rel='stylesheet', href='/js/libs/redactor/redactor.css')
		link(rel='stylesheet', href='/css/app.css')
		link(rel='stylesheet', href='/css/editor.css')

	body(data-article-id="#{article.id}").editor
		form(action="/article/#{article.id}", method="POST")#editor_form
			.editor_header
				a#close(href="/#/blog")
					| fechar
				.container
					label.input_label(for="title")
						| Título
					.input_title
						if article.title
							input(type="text", name="title", placeholder="título da publicação", value="#{article.title}")#title
						else
							input(type="text", name="title", placeholder="título da publicação")#title						

			.container
				.row
					.span9
						textarea(name="content")#content= article.content
					.span3
						label.input_label(for="excerpt")
							| Resumo (
							span#excerpt_count
								| 140
							|  caracteres)
						.input_excerpt
							textarea(name="excerpt", rows="5", placeholder="escreva aqui")#excerpt.smallinput= article.excerpt
						label.input_label(for="publicationDate")
							| Data
						#datetimepicker.input-prepend.date
							span.add-on
								i(data-time-icon="icon-time", data-date-icon="icon-calendar")
							if article.publicationDate
								input(type="text", name="publicationDate", data-format="dd/MM/yyyy hh:mm:ss", value="#{article.publicationDate}")#publicationDate.smallinput
							else
								input(type="text", name="publicationDate", data-format="dd/MM/yyyy hh:mm:ss", value="")#publicationDate.smallinput
							
						br
						label.input_label(for="tags")
							| Palavras-chave
						.input_tags
							textarea(name="tags", rows="5", placeholder="")#tags.smallinput
			
			.footer
				.container
					.row
						.span6
							- post_remove = is_new ? 'btn btn-w-icon hide' : 'btn btn-w-icon'
							- post_view = is_new ? 'btn btn-info btn-w-icon hide' : 'btn btn-info btn-w-icon'
							a(href="#",class="#{post_remove}")#post_remove
								i.fui-cross
								&nbsp;
								| Remover
							&nbsp;
							a(href="/#/blog/post/#{article.id}",class="#{post_view}")#post_view
								i.fui-eye
								&nbsp;
								| Visualizar no blog

						.span3.arquivo
							label.input_label(for="status")
								| Arquivo
								- draft = ('draft'==article.publicationStatus) ? 'selected' : null; 
								- published = ('published'==article.publicationStatus) ? 'selected' : null;
							select(name="publicationStatus")#status
								option(name="published", value="published", selected=published) publicar no blog
								option(name="draft",value="draft", selected=draft) salvar como rascunho
						.span3
							input(type='submit')#submit.hide
							a(href="#")#submit_anchor.btn.btn-primary.btn-w-icon
								i.fui-check
								&nbsp;
								| Publicar
							img(src='/img/ajax-loader.gif')#loading
			#images-hidden
				each image in article.images
					input(type="hidden", name="images[]", value=image.id)
			#info
		#medialibrary
			a.overlay(href='#')
			.window
				ul.nav.nav-pills
					li
						a(href='#upload')
							| Fazer upload
					li
						a(href='#gallery')
							| Escolher da galeria

				.panel.upload
					form(action="/article/#{article.id}/imageupload", method="post", enctype="multipart/formdata").dropzone#image-gallery
						.fallback
							input(type="file", name="image")
							button(value="submit") Enviar
				.panel.gallery
					a.btn(href='#')
						| adicionar imagem


		script(src='/flat-ui/js/jquery-1.8.3.min.js')
		script(src='/flat-ui/js/bootstrap.min.js')
		script(src='/js/libs/underscore-min.js')
		script(src='/js/libs/jquery.filedrop.js')
		script(src='/js/libs/codemirror/lib/codemirror.js')
		script(src='/js/libs/codemirror/mode/markdown/markdown.js')
		script(src='/js/libs/codemirror/mode/gfm/gfm.js')
		script(src='/js/libs/codemirror/addon/mode/overlay.js')
		script(src='/js/libs/showdown/src/showdown.js')
		script(src='/js/libs/showdown/src/extensions/table.js')
		script(src='/js/libs/showdown/src/extensions/ufm.js')
		script(src='/js/libs/datetimepicker/datetimepicker.js')
		script(src='/js/libs/redactor/redactor.js')
		script(src='/dropzone/dropzone.js')
		//script(src='/js/libs/redactor/pt_br.js')
		script(src='/js/medialibrary.js')
		script(src='/js/editor.js')
