doctype 5
- var _form_url = form_url || "/article/"
- var _close_url = close_url || "/#/blog"
html
	head
		title Editor
		link(rel='stylesheet', href='/flat-ui/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/js/libs/datetimepicker/datetimepicker.css')
		link(rel='stylesheet', href='/flat-ui/css/flat-ui.css')
		link(rel='stylesheet', href='/dropzone/css/dropzone.css')
		link(rel='stylesheet', href='/js/libs/codemirror/lib/codemirror.css')
		link(rel='stylesheet', href='/js/libs/redactor/v9/redactor.css')
		link(rel='stylesheet', href='/js/libs/select2/select2.css')
		link(rel='stylesheet', href='/css/app.css')
		link(rel='stylesheet', href='/css/editor.css')

	body(data-id="#{article.id}", rel="post").editor
		form(action=_form_url+article.id, method="POST")#editor_form
			.editor_header
				a#close(href=_close_url)
					| fechar
				.container
					label.input_label(for="title")
						| Título
					.input_title
						if article.title
							input(type="text", name="title", placeholder="título da publicação", value="#{article.title}")#title
						else
							input(type="text", name="title", placeholder="título da publicação")#title						

			.container
				.row
					.span9
						textarea(name="content")#content= article.content
					.span3
						label.input_label(for="excerpt")
							| Resumo (
							span#excerpt_count
								| 140
							|  caracteres)
						.input_excerpt
							textarea(name="excerpt", rows="5", placeholder="escreva aqui")#excerpt.smallinput= article.excerpt
						label.input_label(for="publicationDate")
							| Data
						#datetimepicker.input-prepend.date
							span.add-on
								i(data-time-icon="icon-time", data-date-icon="icon-calendar")
							if article.publicationDate
								input(type="text", name="publicationDate", data-format="dd/MM/yyyy hh:mm:ss", value="#{article.publicationDate}")#publicationDate.smallinput
							else
								input(type="text", name="publicationDate", data-format="dd/MM/yyyy hh:mm:ss", value="")#publicationDate.smallinput
							
						br
						label.input_label(for="tags")
							| Palavras-chave
						.input_tags
							input(type="text", name="tags-input")#tags
							#tags-hidden
								each tag in article.tags
									input(type="hidden", name="tags[]", value=tag._id, rel=tag.name)
			
			.footer
				.container
					.row
						.span6
							- post_remove = is_new ? 'btn btn-w-icon hide' : 'btn btn-w-icon'
							- post_view = is_new ? 'btn btn-info btn-w-icon hide' : 'btn btn-info btn-w-icon'
							a(href="#",class="#{post_remove}")#post_remove
								i.fui-cross
								&nbsp;
								| Deletar
							span#post_remove_confirm.btn-group.hide
								a(href="#")#post_remove_yes.btn.btn-danger.btn-w-icon
									i.fui-check
									&nbsp;
									| Quero deletar
								a(href="#")#post_remove_no.btn.btn-danger
									i.fui-cross
							&nbsp;
							a(href="/#/blog/post/#{article.id}",class="#{post_view}")#post_view
								i.fui-eye
								&nbsp;
								| Visualizar no blog

						.span3.arquivo
							label.input_label(for="status")
								| Arquivo
								- draft = ('draft'==article.publicationStatus) ? 'selected' : null; 
								- published = ('published'==article.publicationStatus) ? 'selected' : null;
							select(name="publicationStatus")#status
								option(name="published", value="published", selected=published) publicar no blog
								option(name="draft",value="draft", selected=draft) salvar como rascunho
						.span3
							input(type='submit')#submit.hide
							a(href="#")#submit_anchor.btn.btn-primary.btn-w-icon
								i.fui-check
								&nbsp;
								| Publicar
							img(src='/img/ajax-loader.gif')#loading
			#images-hidden
				- featuredImageID = article.featuredImage ? article.featuredImage._id ? article.featuredImage._id : article.featuredImage : ''
				input(type="hidden", name="featuredImage", value=featuredImageID)#featuredImage
				each image in article.images
					input(type="hidden", name="images[]", value=image.image._id)
			#info
		#medialibrary
			a.overlay(href='#')
			.window
				ul.nav.nav-pills
					li
						a(href='#upload')
							| Fazer upload
					li
						a(href='#gallery')
							| Escolher da galeria
				a(href='#')#close_modal
					span.fui-cross

				.panel.upload
					form(action="/article/#{article.id}/imageupload", method="post", enctype="multipart/formdata").dropzone#dropzone
						.fallback
							input(type="file", name="image")
							button(value="submit") Enviar
				.panel.gallery
					#images-gallery
						each img in article.images
							- var image = img.image;
							- var cdn_url = image.upload_complete ? image.getSize('icon').cdn_url : image.original_cdn_url;
							- var large_url = image.upload_complete ? image.getSize('large').cdn_url : image.original_cdn_url;
							- var isCover = (featuredImageID == String(img.image._id)) ? 'loaded cover' : 'loaded'; 
							figure(data-id=String(image._id), data-src=large_url, class=isCover)
								span.icon.fui-check-inverted
								img(src=cdn_url)
					.row-fluid
						.span6
							a(href='#')#img_add.btn.btn-w-icon.btn-primary
								span.fui-plus
								|  adicionar imagem ao texto
							&nbsp; &nbsp;
							a(href='#')#img_cover.btn.btn-w-icon.btn-warning
								span.fui-check
								|  definir como capa
						.span6(style="text-align:right;")
							a(href='#')#img_remove.btn.btn-w-icon.btn-danger
								span.fui-cross
								|  excluir imagem


		script(src='/flat-ui/js/jquery-1.8.3.min.js')
		script(src='/flat-ui/js/bootstrap.min.js')
		script(src='/js/libs/underscore-min.js')
		script(src='/js/libs/moment.min.js')
		script(src='/js/libs/codemirror/lib/codemirror.js')
		script(src='/js/libs/codemirror/mode/markdown/markdown.js')
		script(src='/js/libs/codemirror/mode/gfm/gfm.js')
		script(src='/js/libs/codemirror/addon/mode/overlay.js')
		script(src='/js/libs/showdown/src/showdown.js')
		script(src='/js/libs/showdown/src/extensions/table.js')
		script(src='/js/libs/showdown/src/extensions/ufm.js')
		script(src='/js/libs/datetimepicker/datetimepicker.js')
		script(src='/dropzone/dropzone.js')
		script(src='/js/libs/redactor/v9/redactor.min.js')
		script(src='/js/libs/redactor/v9/pt_br.js')
		script(src='/js/libs/redactor/v9/medialibrary.js')
		script(src='/js/libs/select2/select2.js')
		script(src='/js/libs/select2/select2_locale_pt-BR.js')
		script(src='/js/libs/leaflet/leaflet.js')
		script(src='/js/libs/leaflet/l.control.geosearch.js')
		script(src='/js/libs/leaflet/l.geosearch.provider.google.js')
		script(src='/js/editor.js')
