extends ../layout

block title
	| Posts

block link
	-var selected = 'posts';

block content
	p
		a(href='/admin/article/new').btn.btn-small Novo post

	table.table.table-striped
		thead
			tr
				th Tipo
				th Título
				th Excerpt
				th Autor
				th Status
				th Data de publicação
				th Data de criação
				th Última atualização
				th Opções
		for article in articles
			tr
				td
					a(href='/admin/article/'+article.id)
						if article.parent
							span.fui-chat
						else
							span.fui-list
				td
					a(href='/admin/article/'+article.id)
						if article.title
							= article.title
						else
							= article.slug
					
				td
					p= article.parent ? article.content : article.excerpt
				td
					a(href='/admin/user/#{article.owners[0].id}')= article.owners[0].username
				td= article.publicationStatus
				td.moment-me= article.publicationDate
				td.moment-me= article.createdAt
				td.moment-me= article.updatedAt
				td
					a(href="/admin/article/#{article.id}/remove",title="Excluir")
						i.icon-remove
	+pagination("/admin/articles", pagination)