<form id="login" class="form-horizontal">
	<div class="control-group">
		<label class="control-label" for="username">Usuário ou e-mail</label>
		<div class="controls">
			{{view App.AutoFocusTextField id="username" name="username" placeholder="" }}
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="password">Senha</label>
		<div class="controls">
			<input type="password" id="password" name="password" placeholder="" {{action "onFocus"}}>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<p>
				<button type="submit" class="btn" {{bindAttr disabled="isPosting"}} {{action submit}}>Entrar</button>
				<hr/>
				<small><a href="/resetpassword">esqueci minha senha</a></small>
			</p>
			{{#if flashMsg}}
			<div class="alert alert-error">
			  {{flashMsg}}
			</div>
			{{/if}}
		</div>
	</div>
</form>

