extends ../layout

block title
	| Avisos

block link
	-var selected = 'avisos';

block content
	p
		a(href='/admin/notice/new').btn Novo aviso

	table.table.table-striped
		thead
			tr
				tr
					th Ordem
					th Aviso
					th Link
					th Criado em
					th Opções
		tbody
			each notice in notices
				tr
					td
						a(href='/admin/notice/#{notice.id}')= notice.order
					td!= md(notice.text)
					td
						a(href=notice.url)= notice.url
					td= notice.createdAt
					td
						a(href="/admin/notice/#{notice.id}/remove",title="Excluir")
							i.icon-remove
	+pagination("/admin/notices", pagination)