<div class="thepost">

	{{#if isLoaded}}
		
		<div class="row-fluid">
			<div class="span4">
				
			</div>
			<div class="span8">
				<h3 class="title">{{article.title}}</h3>
				<p class="date">{{article.publishDate}}</p>
				<p class="excerpt">{{article.excerpt}}</p>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span12 firstimage">
				<img src="/img/home02.jpg"/>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span4">
				<p>Postado por {{#each owner in article.owners}}{{owner}}{{/each}}</p>
				<p><a class="btn" {{bindAttr href="edit_link"}}>Editar</a></p>
			</div>
			<div class="span8 post_content">
				{{ufm article.content}}
			</div>
		</div>

	{{else}}

		<img src="/img/ajax-loader.gif"/>

	{{/if}}

</div>