<div class="thepost">

	{{#if isLoaded}}
		
		<div class="row-fluid post_header">
			<div class="span8">
				<h3 class="title">
					{{#if article.title}}
						{{article.title}}
					{{else}}
						{{#if isOwner}}
							<a {{bindAttr href="edit_link"}}>Sem título</a>
						{{else}}
							Sem título
						{{/if}}	
					{{/if}}
				</h3>
				<p class="date">{{momentdate article.publicationDate}} ({{momentago article.publicationDate}})</p>
				<p class="excerpt">{{article.excerpt}}</p>
			</div>
			
			<div class="span1"></div>

			<div class="span3 post_info">
				<div>
					<div class="post_avatar">
						<img {{bindAttr src=profile.avatar_small}}/>
					</div>

					<p>Postado por {{#each owner in article.owners}}<a {{action openProfile owner}}>{{owner.name}}</a>{{/each}}</p>
				</div>
			</div>
		</div>

		<!--<div class="row-fluid">
			<div class="span12 firstimage">
				<img src="/img/home02.jpg"/>
			</div>
		</div>-->
		
		<div class="row-fluid">
			
			<div class="span8 post_content">
				{{#if article.content}}
					{{{article.content}}}
				{{/if}}

				<hr/>

				<h3>Comentários</h3>


			</div>
			
			<div class="span1"></div>

			<div class="span3">
				{{#if isOwner}}
					<p><a class="btn btn-w-icon" {{bindAttr href="edit_link"}}><span class="fui-new"></span> Editar</a></p>
				{{/if}}	
			</div>

		</div>

		

	{{else}}

		<p class="def_loading">carregando publicação</p>

	{{/if}}

</div>