<div class="thepost">

	{{#if isLoaded}}
		
		<div class="row-fluid post_header">
			<div class="span8">
				<h3 class="title">
					{{#if article.title}}
						{{article.title}}
					{{else}}
						{{#if isOwner}}
							<a {{bindAttr href="edit_link"}}>Sem título</a>
						{{else}}
							Sem título
						{{/if}}	
					{{/if}}
				</h3>
				<p class="date">{{momentdate article.publicationDate}} ({{momentago article.publicationDate}})</p>
				<p class="excerpt">{{article.excerpt}}</p>
			</div>
			
			<div class="span1"></div>

			<div class="span3 post_info">
				<div>
					<a class="post_avatar" {{action openProfile profile}}>
						<img {{bindAttr src=profile.avatar_icon}}/>
					</a>

					<p>
						Postado por <a {{action openProfile profile}}>{{profile.nick}}</a>
						<br/>
						<a {{action openUserArchive profile}}>Arquivos desse autor</a>
					</p>
				</div>
			</div>
		</div>

		<!--<div class="row-fluid">
			<div class="span12 firstimage">
				<img src="/img/home02.jpg"/>
			</div>
		</div>-->
		
		<div class="row-fluid">
			
			<div class="span8 post_content">
				{{#if article.content}}
					{{{article.content}}}
				{{/if}}
				{{#if article.tags.length}}
					<p class="tags">
						Palavras-chave: 
						{{#each article.tags}}
							<a {{action openTag this}}>{{name}}</a>
						{{/each}}
					</p>
				{{/if}}
				
				<hr/>
				
				{{#if commentsLoaded}}

					<div class="post_comments">
						
						{{#if commentCount}}

							<h3>Comentários ({{commentCount}})</h3>

							<ul>
								{{#each comment in comments}}
									<li class="comment">
										<div class="row">
											<div class="span2" style="text-align: right;">
												<p>
													<a class="post_avatar" {{action openProfile comment.profile}}>
														<img {{bindAttr src=comment.profile.avatar_icon}}/>
													</a>
												</p>
											</div>
											<div class="span9 comment_content">
												<p><span class="comment_info"><a {{action openProfile comment.profile}}>{{comment.profile.nick}}</a> • {{momentago comment.createdAt}}</span></p>

												<p>{{{comment.content}}}</p>
												
											</div>
										</div>
									</li>	
								{{/each}}
							</ul>
						
						{{/if}}

					</div>
					
					{{#if User.auth.loggedIn}}
						
						{{#if isPostingComment}}

							<p class="def_loading">Enviando comentário</p>

						{{else}}
							
							<h4>Enviar Comentário</h4>

							<textarea id="new_comment" rows="5"></textarea>
							<a class="btn btn-w-icon palette-pomegranate" {{action postComment}}><span class="fui-chat"></span> Comentar</a>

						{{/if}}

					{{else}}

						<p>Quer fazer um comentário?</p>
						<p>{{#linkTo 'user' classNames="btn"}}Crie uma conta{{/linkTo}}</p>

					{{/if}}

				{{else}}
					
					<p class="def_loading">Carregando comentários</p>

				{{/if}}

			</div>
			
			<div class="span1"></div>

			<div class="span3">
				{{#if isOwner}}
					<p><a class="btn btn-w-icon" {{bindAttr href="edit_link"}}><span class="fui-new"></span> Editar</a></p>
				{{/if}}	
			</div>

		</div>

	{{else}}

		<p class="def_loading">carregando publicação</p>

	{{/if}}

</div>