{{#if isLoaded}}
	<div class="grid_posts">
		{{#if articles.length}}
			{{#each article in articles}}
				<article {{bindAttr id="article._id"}}>
					{{#linkTo blog.post article}}
						<div class="figure">
							{{article._id}}
						</div>
						<div class="info">
							<span class="title">
								{{article.title}}
							</span>
							<span class="date">
								{{#if article.publicationDate}}
									{{momentago article.publicationDate}}
								{{else}}
									sem data
								{{/if}}
							</span>
						</div>
					{{/linkTo}}
				</article>
			{{/each}}
		{{else}}
			Não há mais postagens
		{{/if}}
	</div>

{{else}}

	<img src="/img/ajax-loader.gif"/>

{{/if}}